.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.resizing {
  width: 200px;
  height: 200px;
}
.imageStore {
  display: inline-block;
  background-color: #9fb8ad;
  border: 1px solid #383e56;
  border-radius: 20px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.5rem 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
