.App {
  text-align: center;
}
body {
  background-color: #9fb8ad;
  margin: 0px;
}
.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.resizing {
  width: 200px;
  height: 200px;
}
.imageStore {
  display: inline-block;
  background-color: #9fb8ad;

  margin: 5;
  padding: 1rem;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}
.pics {
  display: inline-block;
}
